.auth {
  padding: 20px;
  width: 350px;
  height: 400px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  img {
    height: 250px;
  }
}
