<div class="full">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Attendance</h2>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="session-select"><i class="fas fa-list"></i>&nbsp;&nbsp;Select a date from the list below:</label>
              <select type="select" class="form-control">
                <option value="">25 Jun, 2018</option>
              </select>
            </div>
            <div class="row">
              <div class="col-6">
                <h3>Not Attending <span class="badge badge-primary">0</span></h3>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="search"><i class="fas fa-search"></i> Search for non-attending members:</label>
                      <input type="text" class="form-control" name="" placeholder="Search for a non-attending member.."/>
                    </div>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h3>Attending <span class="badge badge-primary">0</span></h3>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="search"><i class="fas fa-search"></i> Search for participating members:</label>
                      <input type="text" class="form-control" name="" placeholder="Search for an attending member.."/>
                    </div>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
