.list-group {
  min-height: 550px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: scroll;
  .list-group-item {
    border-left: 0px;
    border-radius: 0px;
    border-right: 0px;
  }
  .list-group-item:first-of-type {
    border-top: 0px;
  }
}

.attendance {
  padding-top: 25px;
  .btn {
    margin-left: 10px;
    float: right;
  }
}
