<div class="full">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Export</h2>
        <div class="row">
          <div class="col">
            <h4>
              Members
              <div class="btn-group header-button">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Export Options
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">All Members</button>
                  <button class="dropdown-item" type="button">All Students</button>
                  <button class="dropdown-item" type="button">All Employees</button>
                  <button class="dropdown-item" type="button">All General Public</button>
                  <button class="dropdown-item" type="button">Date range...</button>
                </div>
              </div>
            </h4>
            <div class="table-responsive">
              <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                  <tr>
                    <th>Member Count</th>
                    <th>Student Count</th>
                    <th>Student Percentage (%)</th>
                    <th>Employee Count</th>
                    <th>Employee Percentage (%)</th>
                    <th>General Public Count</th>
                    <th>General Public Percentage (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>236</strong></td>
                    <td><strong>106</strong></td>
                    <td>54.7%</td>
                    <td><strong>86</strong></td>
                    <td>26.2%</td>
                    <td><strong>44</strong></td>
                    <td>19.1%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>
              Payments
              <div class="btn-group header-button">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Export Options
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">All Monthly</button>
                  <button class="dropdown-item" type="button">All Half-Yearly</button>
                  <button class="dropdown-item" type="button">All Yearly</button>
                  <button class="dropdown-item" type="button">Date range...</button>
                </div>
              </div>
            </h4>
            <div class="table-responsive">
              <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                  <tr>
                    <th>Payments Count</th>
                    <th>Monthly Count</th>
                    <th>Monthly Percentage (%)</th>
                    <th>Half-Yearly Count</th>
                    <th>Half-Yearly Percentage (%)</th>
                    <th>Yearly Count</th>
                    <th>Yearly Percentage (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>194</strong></td>
                    <td><strong>116</strong></td>
                    <td>59.7%</td>
                    <td><strong>42</strong></td>
                    <td>36.2%</td>
                    <td><strong>36</strong></td>
                    <td>18.5%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
