<div class="hero-sidebar bg-primary">
  <div class="sidebar-brand">
    <img src="./assets/socius-logo-white.png"/>
  </div>
  <div class="sidebar-nav">
    <ul class="nav" id="sidebar">
      <li id="home"><a routerLink="./home"><i class="fas fa-fw fa-home"></i>Home</a></li>
      <li id="members"><a routerLink="./members"><i class="fas fa-fw fa-users"></i>Members</a></li>
      <li id="payments"><a routerLink="./payments"><i class="fas fa-fw fa-dollar-sign"></i>Payments</a></li>
      <li id="attendance"><a routerLink="./attendance"><i class="fas fa-fw fa-user-check"></i>Attendance</a></li>
      <li id="administration"><a routerLink="./administration"><i class="fas fa-fw fa-unlock-alt"></i>Administration</a></li>
      <li id="tools"><a routerLink="./tools"><i class="fas fa-fw fa-table"></i>Export</a></li>
    </ul>
  </div>
</div>

<div class="hero-topnav bg-light">
  <div id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ol>
  </div>
  <div class="authed-user">
    <div class="profile-img"><img src="{{_auth_profileimg}}" alt="prof-img"/></div>
    <p>Welcome back, {{_auth_username}}. <button class="btn btn-link" (click)="logoff()"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</button></p>
  </div>
</div>

<div class="content bg-light">
  <router-outlet></router-outlet>
</div>
