/* You can add global styles to this file, and also import other style files */
@import 'https://bootswatch.com/4/flatly/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.0.13/css/all.css';

body {
  background-color: #eee;
}

.full {
  background-color: white;
  min-height: calc(100%);
  /* padding: 10px; */
  padding-top: 5px;
}

.toast-top-full-width {
  top: 10px;
}

.toast-container .toast {
  box-shadow: 0 0 0px #999999;
}
.toast-container .toast:hover {
  box-shadow: 0 0 0px #000000;
}



router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
