<div class="full">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>
          Members <span class="badge badge-primary">{{members.length}}</span>
          <button class="btn btn-lg btn-success header-button" data-toggle="modal" data-target="#nmModal"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Add New Member</button>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="searchbox"><strong><i class="fas fa-search"></i>&nbsp;Search for member:</strong></label>
          <input type="text" name="searchbox" class="form-control" placeholder="Search by ID, names, addresses, contact details, etc."/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Member ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Registered</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Next Due Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td><a routerLink="../member/{{member.id}}">{{member.id}}</a></td>
                <td>{{member.firstname | capatalize}}</td>
                <td>{{member.lastname | capatalize}}</td>
                <td>{{member.email}}</td>
                <td>{{member.regdate | date}}</td>
                <td>{{member.membertype | FullMemberType}}</td>
                <td>{{member.nextdue | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" *ngIf="members.length === 0">
          <div class="col">
            <div class="jumbotron">
              <div class="container">
                <h1><i class="far fa-frown"></i></h1>
                <h1 class="display-5">We couldn't find anything!</h1>
                <p class="lead">There were no member records found. Start populating this table by adding new members.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nmModal" tabindex="-1" role="dialog" aria-labelledby="nmCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nmCenterTitle">Add New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="memberForm" (ngSubmit)="submitRegForm();">
        <div class="modal-body">
          <fieldset>
            <legend>Personal Details</legend>
            <div class="form-group">
              <label for="title"><strong>Title: <span class="req">*</span></strong></label>
              <select class="form-control" name="title" formControlName="title" id="title">
                <option value="mr">Mr.</option>
                <option value="ms">Ms.</option>
                <option value="mrs">Mrs.</option>
                <option value="dr">Dr.</option>
              </select>
            </div>
            <div class="form-group">
              <label for="firstname"><strong>First name: <span class="req">*</span></strong></label>
              <input type="text" class="form-control" placeholder="Example: Jonathon" formControlName="firstname" name="firstname" id="firstname"/>
            </div>
            <div class="form-group">
              <label for="lastname"><strong>Last name: <span class="req">*</span></strong></label>
              <input type="text" class="form-control" placeholder="Example: Doe" formControlName="lastname" name="lastname" id="lastname"/>
            </div>
            <div class="form-group">
              <label for="prefname"><strong>Nick name:</strong></label>
              <input type="text" class="form-control" placeholder="Example: Jon" formControlName="prefname" name="prefname" id="prefname"/>
            </div>
            <div class="form-group">
              <label for="gender"><strong>Gender: <span class="req">*</span></strong></label><br />
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" formControlName="gender" name="gender" id="nmGender1" value="m"/>
                <label class="form-check-label" for="nmGender1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" formControlName="gender" name="gender" id="nmGender2" value="f"/>
                <label class="form-check-label" for="nmGenders">Female</label>
              </div>
            </div>
            <div class="form-group">
              <label for="dateofbirth"><strong>Date of birth: <span class="req">*</span></strong></label>
              <input type="date" name="dateofbirth" id="dateofbirth" formControlName="dateofbirth" class="form-control" placeholder="DD/MM/YYYY"/>
            </div>
          </fieldset>
          <fieldset>
            <legend>Contact Details</legend>
            <div formGroupName="address">
              <div class="form-group">
                <label for="main"><strong>Home Address: <span class="req">*</span></strong></label>
                <input type="text" name="main" id="main" class="form-control" formControlName="main" placeholder="Example: 328 Swanston Street"/>
              </div>
              <div class="form-group">
                <label for="suburb"><strong>Suburb: <span class="req">*</span></strong></label>
                <input type="text" name="suburb" id="suburb" class="form-control" formControlName="suburb" placeholder="Example: Melbourne"/>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="postcode"><strong>Postcode: <span class="req">*</span></strong></label>
                  <input type="text" maxlength="10" class="form-control" name="postcode" formControlName="postcode" id="postcode" placeholder="Example: 3000"/>
                </div>
                <div class="form-group col-6">
                  <label for="state"><strong>State: <span class="req">*</span></strong></label>
                  <select name="state" id="state" formControlName="state" class="form-control">
                    <option value="vic" selected>Victoria</option>
                    <option value="nsw">New South Wales</option>
                    <option value="qld">Queensland</option>
                    <option value="nt">Northern Territory</option>
                    <option value="wa">Western Australia</option>
                    <option value="sa">South Australia</option>
                    <option value="tas">Tasmania</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email"><strong>Email address: <span class="req">*</span></strong></label>
              <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="Example: example@email.com"/>
            </div>
            <div class="form-group">
              <label for="phone"><strong>Contact Number: <span class="req">*</span></strong></label>
              <input type="text" maxlength="10" class="form-control"  name="phone" formControlName="phone" id="phone" placeholder="Example: 0386647000"/>
            </div>
          </fieldset>
          <fieldset>
            <legend>Membership Details</legend>
            <div class="form-group">
              <label for="membertype"><strong>Membership Type: <span class="req">*</span></strong></label>
              <select class="form-control" name="membertype" formControlName="membertype" id="membertype">
                <option *ngFor="let mtype of regFormSettings.membershipTypes" [value]="mtype.value">{{mtype.name}}</option>
              </select>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="memberForm.invalid" onclick="$('#nmModal').modal('hide');">Add member</button>
        </div>
      </form>
    </div>
  </div>
</div>
